*.crt
*.key
*.p12
*.pyc
node_modules/
*.src.coffee
*.map
sass/scss
*.egg-info/
build/
.cache/
.env*
.pytest_cache
frontend/dist/
src/aetherterm/static/assets/
src/aetherterm/static/index.html
src/aetherterm/agentserver/static/assets/
src/aetherterm/agentserver/static/index.html
butterfly/themes/
logs/*.log
*.log
