<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="./favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AetherTerm</title>
    <script type="module" crossorigin src="./assets/index.DCdWPPL2.js"></script>
    <link rel="modulepreload" crossorigin href="./assets/vue-vendor.UUt_bPGB.js">
    <link rel="modulepreload" crossorigin href="./assets/socket.B_mMAB35.js">
    <link rel="modulepreload" crossorigin href="./assets/terminal.dC09zdKq.js">
    <link rel="modulepreload" crossorigin href="./assets/vuetify.a0Xc11tE.js">
    <link rel="stylesheet" crossorigin href="./assets/index.BdhvTgoB.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
